body, html {
		font-family: helvetica;
		height: 100%;
		margin: 0;
	}
	table {
		text-align: center;
		width: 100%;
		height: 100%;
	}
	.lecture {
		background-color: #246866;
		color: #c3dfde;
	}
	.lab {
		background-color: #002f2d;
		color: #c3dfde;
	}
	td {
		background-color: #96a9a8;
	}
	#title {
		font-weight: bolder;
		background-color: #c3dfde;
		font-size: 1.5rem;
	}